<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>359253203345-of5vi8hcfj0lcshe3f0vl1an63ltb0qq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.359253203345-of5vi8hcfj0lcshe3f0vl1an63ltb0qq</string>
	<key>API_KEY</key>
	<string>AIzaSyBwT2urHPC5z0QXpYENKf3cpM2Ls8an9rg</string>
	<key>GCM_SENDER_ID</key>
	<string>359253203345</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.starbucksecret</string>
	<key>PROJECT_ID</key>
	<string>starbucksecret-3fa35</string>
	<key>STORAGE_BUCKET</key>
	<string>starbucksecret-3fa35.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:359253203345:ios:c1ecdb3bfaef18ecfbe230</string>
	<key>DATABASE_URL</key>
	<string>https://starbucksecret-3fa35-default-rtdb.firebaseio.com</string>
</dict>
</plist>